mixin icon(name,mod, name_group)
    - mod = mod || ''
    svg(class= name_group + "__icon icon icon-" + name + ' ' + mod width="30" height="25")
        use(xlink:href="assets/images/icons/sprite_" + name_group + ".svg#" + name)
mixin bg(name,mod, name_group)
    - mod = mod || ''
    svg(class= name_group + "__bg bg bg-" + name + ' ' + mod width="100%" height="100%")
        use(xlink:href="assets/images/icons/sprite_" + name_group + ".svg#" + name)
        
block variables

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="assets/styles/app.min.css")    
        block head
        script(src="assets/scripts/bundle.js" defer)
    body
        #preloader.preloader
            .loader
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve">
                <circle class="preload-circle-1" opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new    " cx="72" cy="71.999" r="70"/>
                <circle class="preload-circle-2" opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new    " cx="72" cy="72" r="55"/>
                <circle class="preload-circle-3" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40"/>
                <text x="50%" y="50%" dy="5%" fill="#FFFFFF" font-family="'ArialMT'" font-size="24" text-anchor="middle" id="load_perc">0</text>
                </svg>
        block content
        block footer
            include common/footer.pug
        block menu
            include common/menu.pug
        block popup
            .popup-wrapper
                .popup
                    a(href="#").popup__close
                        <svg width="15" height="15" class="popup__close-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/></svg>
                    .popup__message    

